---
title: Home
layout: default
nav_order: 1
---

<h1>👨🏻‍💻 Welcome.</h1>
<p class="l-font">
  This is the home page of my blog. Here You can find all about my journey in Computer Science.
  If You want to know more about me, check out my <a href="https://fabiancruz-0.github.io/" target="_blank">
    Portfolio page</a>, <a href="https://www.linkedin.com/in/fabian-cruz-dev/" target="_blank">
    LinkedIn profile</a> or my <a href="https://github.com/FabianCruz-0" target="_blank">GitHub profile</a> 🦋.
    <br><br>
</p>

<p class="note-title">
  <i>This blog is being created and <b>constantly</b> updated.</i>
</p>

{% assign my_array = '' | split: '' %}
{% for page in site.pages %}

{% if page.parent == "Data Structures" %}

{% assign my_array = my_array | append: ', ' | append: page.title  %}

{% endif %}
{% endfor %}