.l-font{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 300;
}
.bg-white{
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
.nodeLabel{
    text-transform: capitalize;
}